*{
    margin: 0;
    padding: 0;
}

body {
	overflow: hidden;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 20px;
}

.colorRojo{
    color: red;
}

.colorRGB{
    color: rgb(93, 113, 218);
}
.colorAzulFuerte{
    color: rgb(72, 69, 218);
}

.colorRGBA{
    color: rgba(93, 217, 94, 0.6);
}

.colorHEX{
    color: #EE43E3;
}

.colorHSL{
    color: hsl(30, 68%, 31%);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}



p{
    color: red;
    text-align: center;
}

#titulo{
    text-align: right;
}

#titulo2{
    text-align: center;
}
#titulo3{
    text-align: left;
}
.izquierda{
    color: green;
}

p.izquierda{
    text-decoration: underline;
    text-align: left;
}

.contraste{
    background-color: black;
}

h1, h2, p{
    font-weight: bold;
}

html {
    box-sizing: border-box;
    --Color-principal: #2848c6;
    --Color-Titulos: #1f3e72;
    --Color-Textos: #6d7b93;
    --Amarillo: #ffd012;
    --Fuente-titulos: "Cabin", sans-serif;
    --Ancho-titulos: 800;
    --Fuente-Textos: "Lato", sans-serif;
    --Ancho-Textos-Planos: 800;
    --Ancho-Textos-Negrita: 800;
  }


nav .special {
    color: whitesmoke;
    display: inline-block;
    background-color: var(--Color-principal);
    padding: 15px;
    border-radius: 10%;
  }
  nav .special2 {
    color: red;
    display: inline-block;
  }
  img {
    height: 100%;
    width: 100%;
  }


